body {
  display: flex;  /* setting "display: flex" allows its children (e.g. "main" below) to use the "flex" property */
  flex-direction: column;
  padding-top: 56px;  /* allow enough space for a fixed navbar (56px is the height of the navbar here) */
  min-height: 100vh;  /* i.e minimum width is 100% of the "viewport height"... i.e the full screen height */
}

main {
  flex: 1;  /* makes the <main> grow (we want it to grow so that it pushes <footer> to the bottom of page)*/
}

#carouselExampleIndicators img {
  width: 100%;  /* fit the image within the div */
  /* FANCY ADVANCED CSS - calc():
         calculates the height of the full page (100vh)
         minus the height of the navbar (56px)
         minus the height of the second-navbar (50px)
    allocates this height to the carousel images, so that the carousel, navbar, and second-navbar can all fit on the page (regardless of screen size)
 */
  height: calc(100vh - 56px - 50px);
  object-fit: cover;  /* "object-fit" property has various options for fitting an image within a specified space (works because both the img width and height are specified) */
}

#second-navbar {
  background-color: rgb(255, 255, 116);
  display: flex;  /* unlocks "flex" property for its children (<a> tags) */
}
#second-navbar a {
  height: 50px;
  flex: 1;  /* all of these <a> elements will "grow" an equal amount (so they all have an equal width) */
  display: flex;  /* allows use of "justify-content" and "align-items" properties */
  justify-content: center;  /* horizontally centers the contents (the text within) */
  align-items: center; /* vertically centers the contents (the text within) */
}
#second-navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);  /* change color when hover over the link */
}

.container {
  padding-top: 60px;
  padding-bottom: 30px;
}


hr {
  /* add some fancy styling to the horizontal lines */
  width: 75%;
  border: 1.5px solid #ddd;
  border-radius: 50%;
}

.meetTheTeam {
  display: flex;
  justify-content: space-between;
}

.katieRow {
  position: relative;
  width: 50%;
}

.katieImage {
  display: block;
  width: auto;  
  height: 350px;
}

.katieOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  width: 350px;
  opacity: 0%;
  transition: .5s ease;
  background-color: rgb(255, 255, 116);
}

.katieRow:hover .katieOverlay {
  opacity: 1;
}

.katieGithub {
  color: black;
  font-size: 30px;
  position:absolute;
  top: 32%;
  left: 20%;
  -webkit-transform: translate (-50%, -50%);
  -ms-tranform: translate (-50%, -50%);
  transform: translate (-50%, -50%);
  text-align: center;
}

.maryRow {
  position: relative;
  width: 50%;
}

.maryImage {
  display: block;
  width: auto;  
  height: 350px;
}

.maryOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  width: 350px;
  opacity: 0%;
  transition: .5s ease;
  background-color: rgb(255, 255, 116);
}

.maryRow:hover .maryOverlay {
  opacity: 1;
}

.maryGithub {
  color: black;
  font-size: 30px;
  position:absolute;
  top: 32%;
  left: 20%;
  -webkit-transform: translate (-50%, -50%);
  -ms-tranform: translate (-50%, -50%);
  transform: translate (-50%, -50%);
  text-align: center;
}

.jasmineRow {
  position: relative;
  width: 50%;
}

.jasmineImage {
  display: block;
  width: auto;  
  height: 350px;
}

.jasmineOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  width: 350px;
  opacity: 0%;
  transition: .5s ease;
  background-color: rgb(255, 255, 116);
}

.jasmineRow:hover .jasmineOverlay {
  opacity: 1;
}

.jasmineGithub {
  color: black;
  font-size: 30px;
  position:absolute;
  top: 32%;
  left: 2%;
  -webkit-transform: translate (-50%, -50%);
  -ms-tranform: translate (-50%, -50%);
  transform: translate (-50%, -50%);
  text-align: center;
}

footer {
  display: flex;  /* allows use of "justify-content" property */
  justify-content: center;  /* horizontally centers the contents (the social icons) */
  background-color: black;
  height: 80px;
  padding: 20px;
}

footer a {
  margin: 5px;
  text-decoration: none!important;
  color:white; 
}



#go-top-button {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 116);
  color: black;
  outline-color:rgb(255, 255, 116);
  display: none;  /* Hidden by default */
  position: fixed;  /* Fixed/sticky position */
  bottom: 20px;  /* Place the button 20px from the bottom of the page */
  right: 30px;  /* Place the button 30px from the right */
  z-index: 99;  /* Make sure it does not overlap */
  border-radius: 50%;  /* makes it round (circle if width and height are the same) */
}
.btn {
  background-color:rgb(255, 255, 116);
  color: black; 
  border-color:black;

}
.greysVideo {
  width: 50%;
  margin: 0 auto;
  
}
